<p>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative Commons - Atribuição-Não Comercial-Compartilha Igual 4.0 Internacional"><img alt="Licença Creative Commons - Atribuição-Não Comercial-Compartilha Igual 4.0 Internacional" style="border-width:0;vertical-align:middle" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
  &middot;
  <a xmlns:cc="http://creativecommons.org/ns#" href="http://leobetosouza.com.br/" property="cc:attributionName" rel="cc:attributionURL">{{ site.author }}</a>
  &middot;
  {{ site.time | date: "%Y" }}
  &middot;
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> and <a href="http://github.com/">GitHub</a></span>
</p>
